{% extends "layout/app.html" %}"

{% block title %}login{% endblock title %}

{% block content %}
 
   
<style>
    .row{
        padding-top: 70px; 
    }
</style>
<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card" style="background-color:rgb(227, 235, 238);">
            <div class="card-body">
                <h2 class="text-muted text-center">Login</h2>

                <!-- Check if the form has non-field errors -->
                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}">Username</label>
                        <input type="text" name="{{ form.username.name }}" class="form-control" required>
                        <span class="text-danger">{{ form.username.error }}</span>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password.id_for_label }}">Password</label>
                        <input type="password" name="{{ form.password.name }}" class="form-control" required>
                        <span class="text-danger">{{ form.password1.error }}</span>
                    </div>
                    <button type="submit" class="btn btn-dark">Login</button>
                    <a href="{% url 'register' %}">Don't Have an Account? Register Here</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-3">
    <div class="col-sm-6 text-center">
        <p>Or login with</p>
        <a href="#" class="btn btn-danger btn-block mb-2">Google</a>
        <a href="#" class="btn btn-primary btn-block">Facebook</a>
    </div>
</div>
{% endblock content %}